body {
    text-align: center;
    background-color: #333333;
    color: #dedede;
    padding: 50px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  hr { width: 20px; }
  
  a {
    color: #00B7FF;
  }
  
  footer {
    font-size: 24px;
  }